* {
  margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}

*::after, *::before {
  box-sizing: inherit;
}

html {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

body {
	background-color: rgb(238, 238, 238);
}

html, body {
  height: 100vh;
}
